/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
  }

  body {
    width: 100vw;
    height: 100vh;
    background-color: #563131;
  }


  .align-center {
    margin: 15px;
    border: 1px dashed #d84848;
  }


  .main-header, .main-container-grid, .main-footer {
    grid-column: 1 / 4;
  }